{# BRAND ICON #}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/brand/favicon.ico') }}" />
{# BOOTSTRAP CSS #}
    <link id="style" href="{{ url_for('static', filename='assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
{# STYLE CSS #}
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/dark-style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/transparent-style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/skin-modes.css') }}" rel="stylesheet" />
{# FONT-ICONS CSS #}
    <link href="{{ url_for('static', filename='assets/css/icons.css') }}" rel="stylesheet" />
{# COLOR SKIN #}
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='assets/colors/color1.css') }}" />
{# INTERNAL SWITCH #}
    <link href="{{ url_for('static', filename='assets/switcher/css/switcher.css') }}" rel="stylesheet" />
